/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

.h1, h1 {
  font-weight: 700
}

.btn-danger {
  color: white;
}

body {
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: #70c1b3;
  color: #ffe066;
  text-shadow: darkgoldenrod 1px 1px;
}

#jeopardy {
  text-align: center;
  font-size: 9pt;
  background-color: #247ba0;
  color: #ffe066;
  border-collapse: collapse;
}

#jeopardy th, #jeopardy td {
  border: solid 1px #ffe066;
  width: 12em;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: bold;
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;
}

td {
  height: 9em;
  font-family: 'Baloo Tammudu 2', cursive;
}

td:hover {
  cursor: pointer;
}

